
td, th {

  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-family: 'Alegreya', serif;
}

th {
  background: #28527a;
  color: #f4d160;
  font-family: 'Alegreya', serif;
}

td
{
  background: #f4d160;
  color: rgb(248, 241, 241);

}

* a {

font-size: x-large;
color: black;
font-family: 'RocknRoll One', sans-serif;

}
body
{
  background-color: rgb(28, 28, 83);
}


div{
  
   margin-top: 20px;
   margin-bottom: 20px;
   
}
div img:nth-child(1){

  margin-left:50px;
}

div img:nth-child(5){

  margin-left:200px;
}

div > img{
  height:300px;
   width:300px;
}

h1
{
  color: yellow;
  font-style:italic;
  font-weight:600;
  font-family: 'RocknRoll One', sans-serif;
  
}

h3
{
  color: yellow;
  font-weight: 900;
  font-family: 'RocknRoll One', sans-serif;

}

ul 
{
color: white;
font-weight: 700;
font-family: 'RocknRoll One', sans-serif;

}

fieldset {
  background-color: #615b5b;
  margin-top:30px ;
  margin-bottom: 30px ;
  width: 95%;
  font-family: 'Alegreya', serif;
  
}

legend {
  
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  text-align:justify;
  font-family: 'Alegreya', serif;
  
}

button {
  background-color: #f4d160;
  color: white;
  text-align: center;
  font-size: 18px;
 margin-left: 5px;
 font-family: 'Alegreya', serif;
  
}

input {
  
  margin-right: 2px;
  font-family: 'Alegreya', serif;
  
  
}







